* {
        margin: 0;
        padding: 0
    }
    html,
    body {
        width: 310px;
        height: 422px
    }
    body {
        font-size: 11px;
        line-height: 1.1em;
        color: #eee;
        background: #dc3d24
    }
    body,
    button,
    input {
        font-family: 'Segoe UI', Tahoma, Arial, Helvetica, sans-serif
    }