<div class="row">

	<!--Header-->
	<header class="navbar navbar-static-top bs-docs-nav no-margin" id="top" role="banner" style="background: white;">
		<div class="container">
			<div class="col-xs-2 no-padding text-center">
		      <a href="#" class="navbar-brand"><span class="glyphicon glyphicon-chevron-left"></span></a>
		    </div>

		    <div class="col-xs-10 text-center">
		      <a href="#" class="navbar-brand">MMTS Hyderabad</a>
		    </div>
		</div>
	</header>

    <div class="row top-padding-20">
        <div class="col-xs-4">
            <div class="row col-xs-12 pull-right text-center" style="height: 33px;">
                <h5 style="font-size: 20px;margin: 0px;">From:</h5>
            </div>
            <div class="row col-xs-12 pull-right text-center" style="height: 53px;">
                <button class="btn btn-xs btn-default" style="margin-top: -1.5px; background-color: rgba(34, 34, 34, 0); border-color: rgba(34, 34, 34, 0);" data-ng-click="interchange()">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </button>
                <h5 style="font-size: 20px;padding-top: 7px;margin: 0px;">To:</h5>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="row col-xs-12">
                <select class="form-control" style="padding: 5px 18px 5px 5px; height: 33px;" data-ng-model="station.from" data-ng-options="station.name for station in stations" data-ng-change="updateStation('from', station.from)"></select>
            </div>
            <div class="row col-xs-12 top-padding-20">
                <select class="form-control" style="padding: 5px 18px 5px 5px; height: 33px;" data-ng-model="station.to" data-ng-options="s.name for s in stations" data-ng-change="updateStation('to', station.to)"></select>
            </div>
        </div>
    </div>

    <!-- <div class="col-xs-12 top-padding-20">
        <div class="col-xs-3 text-right">
        	
        </div>
        <div class="col-xs-9">
            
        </div>
    </div>

    <div class="col-xs-12 top-padding-10">
        <div class="col-xs-3 text-right">
            <h5 style="font-size: 18px;">To:</h5>
        </div>
        <div class="col-xs-9">
            
        </div>
    </div> -->

    <div class="col-xs-12 text-center top-padding-20">
        <a href="#/searchtrains" class="btn btn-default" style="padding: 6px 18px;">search trains</a>
    </div>
</div>
