<div class="row">

	<!--Header-->
	<header class="navbar navbar-static-top bs-docs-nav no-margin" id="top" role="banner" style="background: white;">
		<div class="container">
			<div class="col-xs-2 no-padding text-center">
		      <a href="#" class="navbar-brand"><span class="glyphicon glyphicon-chevron-left"></span></a>
		    </div>

		    <div class="col-xs-10 text-center">
		      <a href="#" class="navbar-brand">MMTS Hyderabad</a>
		    </div>
		</div>
	</header>

    <div class="col-xs-12">
        <div class="col-xs-6 form-group">
        	<label for=""><h5 style="font-size: 24px;">From:</h5></label>
        	<select class="form-control" style="padding: 5px 18px; height: 33px;">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="col-xs-6 form-group">
            <label for=""><h5 style="font-size: 24px;">To:</h5></label>
        	<select class="form-control" style="padding: 5px 18px; height: 33px;">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>

    <div class="col-xs-12 text-center">
        <a href="#/searchtrains" class="btn btn-default" style="padding: 6px 18px;">search trains</a>
    </div>
</div>
