<div class="row">

	<!--Header-->
	<header class="navbar navbar-static-top bs-docs-nav no-margin" id="top" role="banner" style="background: white;">
		<div class="container">
			<div class="col-xs-2 no-padding text-center">
		      <a href="#/" class="navbar-brand"><span class="glyphicon glyphicon-chevron-left"></span></a>
		    </div>

		    <div class="col-xs-10 text-center">
		      <a href="#" class="navbar-brand">MMTS Hyderabad</a>
		    </div>
		</div>
	</header>

    <div class="col-xs-12">
        View search trains here
    </div>
</div>
